.input {
    width: 337px;
    text-align: left;
    margin-right: 12px;
}

.content {
    display: flex;
    justify-content: center;
}

.inputSubtext {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3d3d3d;
}

.homeForCircles {
    margin: 0 auto;
    width: 994px;
    max-height: 268px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 60px;
}